<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Infographic Engine v2">
    <listeners>
        <listener class-name="com.biit.infographic.core.TestListener"/>
    </listeners>

    <test name="Infographic Engine v2" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="simpleSvgGenerationTest"/>
                <include name="customSvgComponentsTest"/>
                <include name="colorValidation"/>
                <include name="jsonGeneration"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.infographic.core.svg.SimpleSvgGenerationTest"/>
            <class name="com.biit.infographic.core.svg.CustomSvgComponentsTest"/>
            <class name="com.biit.infographic.core.svg.ColorValidationTest"/>
            <class name="com.biit.infographic.core.svg.serialization.JsonGenerationTest"/>
        </classes>
    </test>
</suite>