<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Infographic Engine v2">
    <listeners>
        <listener class-name="com.biit.infographic.core.TestListener"/>
    </listeners>

    <test name="Infographic Engine v2" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="simpleSvgGenerationTest"/>
                <include name="simplePngGenerationTest"/>
                <include name="simpleJpegGenerationTest"/>
                <include name="customSvgComponentsTest"/>
                <include name="svgText"/>
                <include name="colorValidation"/>
                <include name="jsonGeneration"/>
                <include name="templateFromDrools"/>
                <include name="cadt"/>
                <include name="cadtCustomer1"/>
                <include name="cadtCustomer2"/>
                <include name="cadtCustomer3"/>
                <include name="cadtCustomer4"/>
                <include name="boardingPass"/>
                <include name="eventParser"/>
                <include name="eventController"/>
                <include name="pdfFromSvg"/>
                <include name="pdfFromPng"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.infographic.core.svg.SimpleSvgGenerationTest"/>
            <class name="com.biit.infographic.core.svg.CustomSvgComponentsTest"/>
            <class name="com.biit.infographic.core.svg.TextSvgGenerationTest"/>
            <class name="com.biit.infographic.core.svg.ColorValidationTest"/>
            <class name="com.biit.infographic.core.svg.serialization.JsonGenerationTest"/>
            <class name="com.biit.infographic.core.image.SimplePngGenerationTest"/>
            <class name="com.biit.infographic.core.image.SimpleJpegGenerationTest"/>
            <class name="com.biit.infographic.core.engine.TemplateFromDroolsTests"/>
            <class name="com.biit.infographic.core.engine.CADT"/>
            <class name="com.biit.infographic.core.svg.CADTTest"/>
            <class name="com.biit.infographic.core.svg.CadtFromDroolsTest"/>
            <class name="com.biit.infographic.core.svg.CADTCustomer1Test"/>
            <class name="com.biit.infographic.core.svg.CADTCustomer2Test"/>
            <class name="com.biit.infographic.core.svg.CADTCustomer3Test"/>
            <class name="com.biit.infographic.core.svg.CADTCustomer4Test"/>
            <class name="com.biit.infographic.core.svg.CADTCustomer1FromDroolsTest"/>
            <class name="com.biit.infographic.core.svg.CADTCustomer2FromDroolsTest"/>
            <class name="com.biit.infographic.core.svg.CADTCustomer3FromDroolsTest"/>
            <class name="com.biit.infographic.core.svg.BoardingPassFromDroolsTest"/>
            <class name="com.biit.infographic.core.engine.EventParserTests"/>
            <class name="com.biit.infographic.core.engine.EventControllerTests"/>
            <class name="com.biit.infographic.core.pdf.PdfFromSVGTest"/>
            <class name="com.biit.infographic.core.pdf.PdfFromPngTest"/>
        </classes>
    </test>
</suite>