<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Infographic Engine v2">
    <listeners>
        <listener class-name="com.biit.infographic.rest.TestListener"></listener>
    </listeners>

    <test name="Infographic Engine v2" enabled="true" preserve-order="true">
        <groups>
            <run>
                <exclude name="infographicRest"/>
                <include name="language"/>
                <include name="svgTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.infographic.rest.tests.InfographicRestTests"/>
            <class name="com.biit.infographic.rest.tests.InfographicEmailTests"/>
            <class name="com.biit.infographic.rest.tests.SvgTests"/>
        </classes>
    </test>
</suite>